body {
    background-color: rgba(255, 191, 0, 0.3);
    font: 1em Comic Sans MS;
}

.first {
    height: 900px;
    max-height: 100%;
    width: 35%;
    float: left;
}

.second {
    height: 900px;
    max-height: 100%;
    width: 65%;
    float: left;
}

.menu {
    height: 70%;
    width: 100%;
    font-size: 1.5em;
}

header {
    width: 100%;
    max-height: 10%;
    text-align: center;
    font-size: 2em;
}

footer {
    width: 100%;
    max-height: 20%;
    text-align: center;
    font-size: 1em;
}

table {
    border: solid 2px;
    font-size: 1em;
    border-collapse: collapse;
    background-color: white;
}

td {
    border: solid 2px;
    height: 30px;
    width: 30px;
}

.null1 {
    height: 60%;
    width: 15%;
    float: left;
}

.null2 {
    height: 10%;
    width: 85%;
    float: left;
}

.null3 {
    height: 40%;
    width: 70%;
    float: left;
}

.null4 {
    height: 40%;
    width: 30%;
    float: left;
}

.null5 {
    display: none;
    height: 10%;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 1em;
}

.content {
    height: 50%;
    width: 85%;
    float: left;
}

.gray {
    background-color: gainsboro;
}

.tab {
    max-height: 50%;
    width: 100%;
    float: left;
}

.frame {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    float: left;
    border-bottom: 8px double black;
    border-top: 8px double black;
    border-left: 8px double black;
}

@media screen and (max-width: 1000px) {
    
    body {
        background-color: rgba(255, 191, 0, 0.3);
        font: 24px Comic Sans MS;
    }
    
    .null1 {
        display: none;
    }

    .null2 {
        display: none;
    }

    .null3 {
        display: none;
    }

    .null4 {
        display: none;
    }
    
    .first {
        height: 30%;
        width: 100%;
        float: left;
    }

    .second {
        height: 60%;
        width: 100%;
        float: left;
    }

    footer {
        display: none;
    }
    
    .null5 {
        display: block;
    }
}